@model BookManagement.Models.ChangePasswordModel
@{
	Layout = "LayoutHtml";
}
<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner py-4">
			<!-- Forgot Password -->
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<!-- Logo -->
							<!-- /Logo -->
							<h4 class="mb-2">Change Password? 🔒</h4>

							<form class="mb-3" asp-controller="Authentication" asp-action="ChangePassword" method="POST">
							
								<div>
									<input type="hidden" class="form-control" id="resetcode" name="resetcode" value="@Model.ResetCode" autofocus />
								</div>
								<div class="mb-3">
									<label for="newpassword" class="form-label">New Password</label>
									<input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="Enter your New Password" autofocus />
								</div>
								<div class="mb-3">
									<label for="confirmpassword" class="form-label">Confirm Password</label>
									<input type="text" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Enter your Confirm Password" autofocus />
								</div>
								<button asp-controller="Authentication" asp-action="ChangePassword" class="btn btn-primary d-grid w-100">Change Password</button>
								<h5 style="color:red">@ViewBag.message</h5>
							</form>
							@*<div class="text-center">
							<a href="auth-login-basic.html" class="d-flex align-items-center justify-content-center">
							<i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
							Back to login
							</a>
							</div>*@
						</div>
					</div>
				</div>
			</div>


			<!-- /Forgot Password -->
		</div>
	</div>
</div>
