
@model BookManagement.Models.LoginModel
@{

}
<div class="container-xxl">
	<div class="authentication-wrapper authentication-basic container-p-y">
		<div class="authentication-inner py-4">
			<!-- Forgot Password -->

			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-body">
							<!-- Logo -->
							<!-- /Logo -->
							<h4 class="mb-2">Forgot Password? 🔒</h4>
							<p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
							<form class="mb-3" asp-controller="Authentication" asp-action="ForgotPassword" method="POST">
								<div class="mb-3">
									<label for="email" class="form-label">Email</label>
									<input type="text"
										   class="form-control"
										   id="email"
										   name="email"
										   placeholder="Enter your email"
										   autofocus />
								</div>
								<button asp-controller="Authentication" asp-action="ForgotPassword" class="btn btn-primary d-grid w-100">Send Reset Link</button>
								<h6 style="color:red">@ViewBag.message</h6>
							</form>
							<div class="text-center">
								<a href="~/Authentication/Login" class="d-flex align-items-center justify-content-center">
									<i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
									Back to login
								</a>
							</div>
						</div>
					</div>
				</div>
				</div>
				<!-- /Forgot Password -->
			</div>
		</div>
	</div>
